@import "tailwindcss";

:root {
  --background: #0B0C10;
  --foreground: #cbd5e1; /* slate-300 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  
  --color-primary: #16a34a;
  --color-secondary: #3b82f6;
  --color-terminal-bg: #1e1e1e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
